* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}


.foodDesc {
    background-color: #ffffffaa;
    margin: 0 auto;
    padding: 0 0.4vw;
    border-radius: 1vh;
}

.OrganisationOffood {
    margin: 1vh;
    border-radius: 1vh;
}

#Menus {
    margin: 1vh auto;
    height: 75vh;
    overflow: auto;
    background-color: #ffffffaa;
    border-radius: 1vh;
}

#modalIg {
    margin-top: 2vh;
}

/*.choiseBtn {
    height: 2vh;
    width: 2vw;

}*/


#listAddModal {
    height: 50vh;
    overflow: auto;
}

#btnUp {
    background-color: transparent;
    border: none;
    color: greenyellow;
}

#btnDown {
    background-color: transparent;
    border: none;
    color: darkorange;
}

.posRelatIframeDown {
    position: relative;
    right: 1.5vh;

}

.posRelatIframeUp {
    position: relative;
    right: 1vh;

}

.qty {
    padding: 0;
    margin: 0;
}
