body {
    background:  url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.btnLog {
    margin-top: 2vh;
}

li {
    list-style-type: none;
}

.main {
    width: auto;
    height:100vh;
}

.formbox {
    top: 20vh;
}

.formSubscribe {
    top: 6vh;
}

.box {
    border-radius: 1vh;
    background-color: #ffffff99;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2vh 2vw;
}
h1 {
    font-size: 1.5em;
}